*,div,pre,textarea,body,input,td,tr,p {
    background-color: #101010 !important;
    background-image: none !important;
    color: #f7f7f7 !important;
}
h1,h2,h3,h4 {
    background-color: #101010 !important;
    color: #f7f7f7 !important;
}
a {
    color: #f7f7f7 !important;
}
a:hover,a:focus {
    color: #999999 !important;
}
a:visited {
    color: #999999 !important;
}
img {
    opacity: .5;
}
img:hover {
    opacity: 1;
}

/* Hint mode color styling
 * Color scheme: Base16 Eighties (https://github.com/chriskempson/base16)
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^='label'] {
    background-color: #101010 !important;
    border: 0px solid #101010 !important;
    color: #f7f7f7 !important;
    font: 8pt Hack Nerd Font !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: 8pt Hack Nerd Font !important;
}
*[vimbhint^='hint'] {
    background-color: #101010 !important;
    color: #f7f7f7 !important;
}
*[vimbhint='hint focus'] {
    background-color: #101010 !important;
    color: #f7f7f7 !important;
}

body::-webkit-scrollbar {
    display: none;
}
